<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="robots" content="index,follow" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"
  ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script>
      new WOW().init();
    </script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/listingLoadByCategory.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>
    <script type="text/javascript" src="/scripts/newListing.js"></script>
    <script type="text/javascript" src="scripts/renderSingle.js"></script>
    <script type="text/javascript" src="scripts/login.js"></script>
    <script type="text/javascript" src="scripts/messageTemplates.js"></script>
    <script type="text/javascript" src="scripts/message.js"></script>
    <script type="text/javascript" src="scripts/user.js"></script>
    <script type="text/javascript" src="scripts/sort.js"></script>

    <title>Buy Things, Sell Things</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-items">
          <i class="fas fa-money-bill-wave-alt icon"></i>

          <!-- Login / Logout -->
            <div id="logout">
              <div class ="logout">
                <h5 class="username-logged-in">Logged in as: username</h5>
                <button id="logout-btn" class="align-middle btn btn-primary">Logout</button>
                <button type="button" id="convo-btn" class="align-middle btn btn-primary">Messages</button>

              </div>
            </div>

            <div id="login">
              <form class="login" method="POST" action="/login" >
                <label for="login-email">Email:</label>
                <input type="email" id="login-email" required name="email"/>
                <button type="submit" class="login-btn btn btn-primary">Login</button>
                </button>
              </form>
            </div>

            <div id="nav-left-container">
              <button id="new-listing-button" class="nav-item btn btn-primary">New Listing</button>
              <button id="get-faves-button" class="nav-item btn btn-primary">Favourites</button>
            </div>

          </div>
        </div>
      </nav>
      <nav class="nav-search-sort">
        <form id="item-search" class="nav-item" method="GET" action="/">
          <input type="text" name="text" class="search-input" id="search-input" require maxlength="50"></textarea>
          <button id="nav-search" class="btn" type="submit">Search</button>
        </form>
        <div class="filter-options">
          <form class="filter">
            <label for="price-max">Max:</label>
            <input type="number" id="price-max" name="max"/>
            <label for="price-max">Min:</label>
            <input type="number" id="price-min" name="min"/>
            <button type="submit" class="login-btn btn btn-primary">Filter</button>
          </form>
        </div>

        <select class="nav-item" id="sort-price" name="price">
          <option value="price">Sort by price</option>
          <option value="ASC">Price asc‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎‎&#9650;</option>
          <option value="DESC">Price‎ desc‎ ‎  ‎ ‎ ‎ ‎‎&#9660;</option>
        </select>

        <select class="nav-item" id="sort-date" name="date">
          <option value="date">Sort by date</option>
          <option value="ASC">Date asc‎‎‎ ‎ ‎ ‎ ‎  ‎ ‎ ‎‎&#9650;</option>
          <option value="DESC">Date desc ‎ ‎ ‎  ‎ ‎‎&#9660;</option>
        </select>

        <select class="nav-item" id="sort-category" name="category">
          <option value="category">Category</option>
          <option value="bikes">Bikes</option>
          <option value="computers">Computers</option>
          <option value="games">Games</option>
        </select>
      </nav>
    </header>

  </body>
</html>
