<%- include('partials/_header') %>


<div class="search-bar">
  <form id="item-search" method="POST" action="/">
    <label for="search-input">Search for an item</label>
    <textarea name="text" id="search-input" require maxlength="150"></textarea>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>


<main class="main-container">
    <div id="listings-row-0" class="card-row">
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
          <p class="card-description">Some kind of description of what the item is and what not</p>
          <a src="#" class="btn btn-primary">Do Something</a>
        </article>
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
    </div> 
    <div id="listings-row-1" class="card-row" >
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
    </div> 
    <div id="listings-row-2" class="card-row">
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
        <article class="card-container">
          <h5 class="card-title">Item Title</h5>
          <img src="https://image.shutterstock.com/image-photo/money-600w-696138958.jpg">
            <p class="card-description">Some kind of description of what the item is and what not</p>
            <a src="#" class="btn btn-primary">Do Something</a>
        </article>
    </div> 
</main>


<%- include('partials/_footer') %>


