<%- include('partials/_header') %>

<!-- Search for an item -->
<div class="search-bar">
  <div class="menu-container">
    <form id="item-search" method="GET" action="/">
      <label for="search-input">Search for an item</label>
      <textarea name="text" id="text" require maxlength="150"></textarea>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <button id="new-listing-button" class="btn btn-primary">New Listing</button>
  </div>
</div>

<!-- Main listings -->
<main class="main-container">
  <div id="listings-row-0" class="card-row"></div>
  <div id="listings-row-1" class="card-row"></div>
  <div id="listings-row-2" class="card-row"></div>
</main>

<!-- New listing form -->
<section id="new-listing">
  <form class="new-listing-content" method="POST" action="/listings">
    <input
      type="text"
      name="title"
      id="listing-title"
      placeholder="What are you selling?"
    />
    <input
      type="number"
      name="price"
      id="listing-number"
      placeholder="How much is it?"
    />
    <input
      type="text"
      name="description"
      id="listing-description"
      placeholder="What are you selling?"
    />
    <input
      type="text"
      name="picture-url"
      id="listing-picture-url"
      placeholder="Pic?"
    />
    <select id="listing-category" name="category">
      <option value="bikes">Bikes</option>
      <option value="computers">Computers</option>
      <option value="games">Games</option>
    </select>
    <button id="new-listing-click" class="btn btn-primary" type="submit">
      Submit
    </button>
    <div id="hide-new-listing">Cancel</div>
  </form>
</section>

<!-- Messaging -->
<div class="main-container">
  <section id="messages-container">
    <div class="messages">
      <div class="message sent">
        <p class="username">username</p>
        <p class="message-content">message content</p>
        <p class="timestamp">timestamp</p>
      </div>

      <div class="message recieved">
        <p class="username">username</p>
        <p class="message-content">message content</p>
        <p class="timestamp">timestamp</p>
      </div>
      <form class="messages-form" method="POST" action="/messages/:listingid">
        <textarea class="message-input" placeholder="New Message"></textarea>
        <button id="message-submit" class="btn btn-primary" type="submit">
          Send
        </button>
      </form>
    </div>
  </section>
</div>

<%- include('partials/_footer') %>
