<%- include('partials/_header') %>

<!-- Main listings -->
<main class="main-container">
  <div class="listings-favourites"></div>
  <h3 id="new-listings-title" class="category-heading">New Listings</h3>
  <div id="listings-row-0" class="card-row"></div>
  <h3 id="games-title" class="category-heading">Games</h3>
  <div id="listings-row-1" class="card-row"></div>
  <h3 id="bikes-title" class="category-heading">Bikes</h3>
  <div id="listings-row-2" class="card-row"></div>
</main>

<%- include('partials/_footer') %>
