body {
  background-color: #DCC7BE;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0B4F6C;
}

nav {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

nav i {
  font-size: 6em;
}

nav .hamburger {
  font-size: 4em;
}

nav .nav-items {
  padding: 0 2%;
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav .login-info {
  display: flex;
}

#item-search {
  display: flex;
  flex-direction: column;
  margin: 10% 10%;
}

.search-bar {
  display: none;
  margin-top: 200px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 20%;
  background-color: #CBB9A8;
  border: solid 3px #1F271B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #1F271B;
}

.main-container {
  margin-top: 230px;
  margin-left: 7%;
  margin-right: 7%;
  margin: 230px 7% 7% 100px;
  padding-bottom: 5%;
}

.main-container .card-row {
  display: flex;
  background-color: grey;
  padding: 1%;
  border: solid 3px lightgray;
  border-radius: 10px;
  margin-bottom: 2%;
}

.main-container .card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  padding: 3%;
  margin: 3%;
  text-overflow: inherit;
  border: solid 5px #1F271B;
  border-radius: 10px;
  background-color: #DCC7BE;
  color: #1F271B;
}

.main-container img {
  width: 80%;
  margin: 5%;
}

.main-container article.card-container a.btn {
  background-color: #0B4F6C;
  color: #ffffff;
}

.results-container {
  display: flex;
  padding: 3%;
  background-color: grey;
  width: 100%;
  margin: 0;
  border: solid 3px lightgray;
  border-radius: 10px;
}

.main-footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-footer i {
  font-size: 3em;
}
