body {
  background-color: #DCC7BE;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0B4F6C;
}

nav {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

nav i {
  font-size: 6em;
}

nav .hamburger {
  font-size: 4em;
}

nav .nav-items {
  padding: 0 2%;
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav #log-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#item-search {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 90%;
  margin: auto;
}

.search-bar {
  display: none;
  margin-top: 200px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 20%;
  background-color: #CBB9A8;
  border: solid 3px #1F271B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #1F271B;
}

#new-listing-button {
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #DCC7BE;
  user-select: none;
}

#new-listing-button:hover {
  background-color: black;
  color: white;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 3%;
  background-color: grey;
  width: 100%;
  border: solid 3px lightgray;
  border-radius: 10px;
  margin: 0;
  justify-content: center;
  align-content: center;
}

.main-container {
  margin-top: 230px;
  margin-left: 7%;
  margin-right: 7%;
  margin: 230px 7% 7% 100px;
  padding-bottom: 5%;
}

.main-container .card-row {
  display: flex;
  background-color: grey;
  padding: 1%;
  border: solid 3px lightgray;
  border-radius: 10px;
  margin-bottom: 2%;
}

.main-container .card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  padding: 3%;
  margin: 1%;
  text-overflow: inherit;
  border: solid 5px #1F271B;
  border-radius: 10px;
  background-color: #DCC7BE;
  color: #1F271B;
  justify-self: center;
}

.main-container img {
  width: 80%;
  margin: 5%;
}

.main-container article.card-container a.btn {
  background-color: #0B4F6C;
  color: #ffffff;
}

.main-footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-footer i {
  font-size: 3em;
}

#new-listing {
  width: 30vw;
  height: 20vw;
  min-width: 400px;
  min-height: 300px;
  background-color: grey;
  position: fixed;
  bottom: 0;
  right: 0;
  border-color: black;
}

.new-listing-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#listing-title {
  grid-row: 1;
  grid-column: 1 / 2;
}

#listing-number {
  grid-row: 2;
  grid-column: 1 / 2;
}

#listing-description {
  grid-row: 3;
  grid-column: 1 / 2;
}

#listing-picture-url {
  grid-row: 4;
  grid-column: 1 / 2;
}

#listing-category {
  grid-row: 5;
  grid-column: 1 / 2;
}

#listing-submit {
  grid-row: 6;
  grid-column: 1 / 2;
}

#listing-title,
#listing-number,
#listing-description,
#listing-picture-url,
#listing-category,
#listing-submit {
  margin: 0.5em;
}

#hide-new-listing {
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
