body {
  background-color: #DCC7BE;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0B4F6C;
}

nav {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  z-index: 2;
}

nav i {
  font-size: 6em;
}

nav .hamburger {
  font-size: 4em;
}

nav .nav-items {
  padding: 0 2%;
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav #logout {
  display: none;
}

nav .logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #login {
  display: none;
}

nav .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #logout-btn {
  margin-right: 1em;
  margin-left: 1em;
}

nav .username-logged-in {
  margin-top: auto;
  margin-bottom: auto;
}

#item-search {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 90%;
  margin: auto;
}

.search-bar {
  display: none;
  margin-top: 150px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 20%;
  background-color: #CBB9A8;
  border: solid 3px #1F271B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #1F271B;
}

#new-listing-button {
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #DCC7BE;
  user-select: none;
}

#new-listing-button:hover {
  background-color: black;
  color: white;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 3%;
  background-color: grey;
  width: 100%;
  border: solid 3px lightgray;
  border-radius: 10px;
  margin: 0;
  justify-content: center;
  align-content: center;
}

.main-container {
  margin: 180px 7% 7% 100px;
  padding-bottom: 5%;
}

.main-container .card-row {
  display: flex;
  background-color: grey;
  padding: 1%;
  border: solid 3px lightgray;
  border-radius: 10px;
  margin-bottom: 2%;
}

.main-container .card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  padding: 3%;
  margin: 1%;
  text-overflow: inherit;
  border: solid 5px #1F271B;
  border-radius: 10px;
  background-color: #DCC7BE;
  color: #1F271B;
  justify-self: center;
}

.main-container img {
  width: 100%;
  margin: 5%;
}

.main-container .listing-image {
  width: 80%;
  margin: 5%;
}

.main-container .listing-image::before {
  content: "fall back";
  content: url("/img/test.png");
}

.main-container article.card-container a.btn {
  background-color: #0B4F6C;
  color: #ffffff;
}

.main-container .btn {
  white-space: nowrap;
}

#delete-button {
  display: none;
}

#sold-button {
  display: none;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border: solid 5px #1F271B;
  border-radius: 10px;
  margin: 2%;
  padding: 3%;
}

.image-wrapper img {
  margin: 0;
  background-color: #DCC7BE;
  border: solid 5px #1F271B;
  border-radius: 10px;
}

.image-wrapper .sold-indicator {
  margin: 2%;
  font-size: 4em;
  color: red;
}

#new-listing {
  width: 30vw;
  height: 20vw;
  min-width: 400px;
  min-height: 300px;
  background-color: grey;
  position: fixed;
  bottom: 0;
  right: 0;
  border-color: black;
}

.new-listing-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#listing-title {
  grid-row: 1;
  grid-column: 1 / 2;
}

#listing-number {
  grid-row: 2;
  grid-column: 1 / 2;
}

#listing-description {
  grid-row: 3;
  grid-column: 1 / 2;
}

#listing-picture-url {
  grid-row: 4;
  grid-column: 1 / 2;
}

#listing-category {
  grid-row: 5;
  grid-column: 1 / 2;
}

#listing-submit {
  grid-row: 6;
  grid-column: 1 / 2;
}

#listing-title,
#listing-number,
#listing-description,
#listing-picture-url,
#listing-category,
#listing-submit {
  margin: 0.5em;
}

#hide-new-listing {
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

#messages-container {
  margin: 230px 7% 7% 100px;
  padding-bottom: 5%;
  padding: 3%;
  background-color: grey;
  width: 100%;
  border: solid 3px lightgray;
  border-radius: 10px;
  margin: 0;
  justify-content: center;
  align-content: center;
}

.inner-message-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  margin: 1%;
  text-overflow: inherit;
  border: solid 5px #1F271B;
  border-radius: 10px;
  background-color: #145C9E;
  color: #1F271B;
}

.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-overflow: inherit;
}

.message {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: solid 3px grey;
  color: #1F271B;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
}

.recieved {
  align-self: flex-start;
  background-color: #CBB9A8;
}

.sent {
  align-self: flex-end;
  background-color: #DCC7BE;
}

.recieved .username {
  align-self: flex-start;
}

.sent .username {
  align-self: flex-end;
}

.message-content {
  align-self: center;
}

.recieved .timestamp {
  align-self: flex-end;
}

.username {
  font-size: 2em;
}

.message-content {
  font-size: 1.5em;
}

.messages-form {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  border: solid 3px #1F271B;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
}

.messages-form .message-input {
  width: 100%;
  border: none;
  resize: none;
}

.main-footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-footer i {
  font-size: 3em;
}

.conversations {
  width: 100%;
  display: grid;
  text-align: center;
  color: #ffffff;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.conversation {
  width: 100%;
  height: 100px;
  line-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 1/ 5;
  text-align: center;
  background-color: grey;
  font-size: 1em;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

.conversation:hover {
  background-color: #ffffff;
  color: #1F271B;
}

.conversation-title-label {
  grid-row: 1;
  grid-column: 1;
}

.conversation-receiver-label {
  grid-row: 1;
  grid-column: 2;
}

.conversation-sender-label {
  grid-row: 1;
  grid-column: 3;
}

.conversation-messages-label {
  grid-row: 1;
  grid-column: 4;
}

.conversation-title {
  white-space: nowrap;
  width: 1fr;
  grid-column: 1;
  grid-row: 1;
}

.conversation-receiver {
  white-space: nowrap;
  width: 1fr;
  grid-column: 2;
  grid-row: 1;
}

.conversation-sender {
  white-space: nowrap;
  width: 1fr;
  grid-column: 3;
  grid-row: 1;
}

.conversation-message-icon {
  max-width: 64px;
  max-height: 64px;
  width: auto;
  height: auto;
}
