.main-container {
  margin: 200px 7% 7% 100px;
  padding-bottom: 5%;

  .category-heading {
    color: $font-color;
    margin-left: 2%;
  }

  .card-row {
    display: flex;
    background-color: $project-white;
    padding: 1%;
    border: solid 3px $project-white;
    margin-bottom: 2%;
    justify-content: space-around;
    -webkit-box-shadow: 1px 3px 5px 5px #000000;
    box-shadow: 1px 3px 5px 5px #000000;
    height: 45vh;
  }

  .card-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    min-width: 240px;
    max-width: 400px;
    margin: 0.3em;
    background-color: $project-white;
    color: $font-color;
    justify-self: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.9fr 1.1fr;
  }

  img {
    width: 100%;
    margin: 5%;
  }
  .listing-image {
    height: 100%;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 0;
  }

  .card-upper {
    vertical-align: top;
    top: 0;
    margin: 0;
    padding: 0;
    position: relative;
    grid-row: 1;
    grid-column: 1;
  }
  .card-lower {
    height: 100%;
    grid-row: 2;
    grid-column: 1;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 0.5fr 0.5fr;

    .card-title {
      grid-row: 1;
      grid-column: 1;
      font-weight: bolder;
      text-align: center;
    }

    .card-description {
      grid-row: 2;
      grid-column: 1;
    }

    .card-date {
      grid-row: 3;
      grid-column: 1;
    }

    .card-price {
      grid-row: 4;
      grid-column: 1;
    }

    .small-listing-button,
    .view-button {
      grid-row: 5;
      grid-column: 1;
      width: 60%;
      height: 90%;
      margin-left: auto;
      margin-right: auto;

      border: none;
      background: #404040;
      color: #ffffff;
      font-weight: 100;
      text-transform: uppercase;
      border-radius: 4px;
      display: inline-block;
      transition: all 0.3s ease 0s;
    }
    .small-listing-button:hover,
    .view-button:hover {
      color: #404040;
      font-weight: 700;
      letter-spacing: 3px;
      background: none;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.3s ease 0s;
    }
  }

  .listing-image::before {
    content: "fall back";
    content: url("/img/test.png");
  }
  article.card-container a.btn {
    background-color: $header-background;
    color: $project-white;
  }

  .btn {
    white-space: nowrap;
  }
}

//commenting out since click handlers only fired once
// .category-heading:hover {
//   color: red;
//   user-select: none;
//   cursor: pointer;
// }
