.main-container {
  margin: 200px 7% 7% 100px;
  padding-bottom: 5%;

  .category-heading {
    color: $font-color;
    margin-left: 2%;
  }

  .card-row {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1%;
    border: solid 3px $project-white;
    margin-bottom: 2%;
    -webkit-box-shadow: 1px 3px 5px 5px #000000;
    box-shadow: 1px 3px 5px 5px #000000;
  }

  .card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    padding: 3%;
    margin: 1%;
    text-overflow: inherit;
    border: solid 5px $font-color;
    border-radius: 10px;
    background-color: $project-white;
    color: $font-color;
    justify-self: center;
  }

  img {
    width: 100%;
    margin: 5%;
  }
  .listing-image {
    width: 80%;
    margin: 5%;
  }
  #listing-image::before {
    content: "fall back";
    content: url("/img/test.png");
  }
  article.card-container a.btn {
    background-color: $header-background;
    color: $project-white;
  }

  .btn {
    white-space: nowrap;
  }
}
