#messages-container {
  justify-content: center;
  align-content: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.inner-message-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  margin: 1%;
  text-overflow: inherit;
  border: solid 3px $project-white;
  background-color: $project-white;
  border-radius: 2px;
  background-repeat: repeat;
  color: $font-color;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
}
.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  text-overflow: inherit;
}
.message {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: solid 3px $project-white;
  color: $font-color;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
}

.recieved {
  align-self: flex-start;
  background-color: $light-grey;
  border: solid 3px $project-white;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

.sent {
  align-self: flex-end;
  background-color: $lighter-grey;
  border: solid 3px $project-white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
}

.recieved .username {
  align-self: flex-start;
}

.sent .username {
  align-self: flex-end;
}

.message-content {
  align-self: center;
}

.recieved .timestamp {
  align-self: flex-end;
}

.username {
  font-size: 2em;
}

.message-content {
  font-size: 1.5em;
}
.messages-form {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  border: solid 3px $project-white;
  border-radius: 2px;
  font-size: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);

  background-color: $project-white;
  width: 100%;

  .message-input {
    width: 100%;
    border: none;
    resize: none;
  }
}
