#messages-container {
  margin: 230px 7% 7% 100px;
  padding-bottom: 5%;
  padding: 3%;
  background-color: $background-grey;
  width: 100%;
  border: solid 3px lightgray;
  border-radius: 10px;
  margin: 0;
  justify-content: center;
  align-content: center;
}
.inner-message-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  margin: 1%;
  text-overflow: inherit;
  border: solid 5px $font-color;
  border-radius: 10px;
  background-color: $alert-color;
  color: $font-color;
}
.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-overflow: inherit;
}
.message {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: solid 3px $background-grey;
  color: $font-color;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
}

.recieved {
  align-self: flex-start;
  background-color: $accent-color;
}

.sent {
  align-self: flex-end;
  background-color: $light-cream;
}

.recieved .username {
  align-self: flex-start;
}

.sent .username {
  align-self: flex-end;
}

.message-content {
  align-self: center;
}

.recieved .timestamp {
  align-self: flex-end;
}

.username {
  font-size: 2em;
}

.message-content {
  font-size: 1.5em;
}
.messages-form {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  border: solid 3px $font-color;
  border-radius: 10px;
  background-color: $project-white;
  width: 100%;

  .message-input {
    width: 100%;
    border: none;
    resize: none;
  }
}
