header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-background;
}

nav {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  z-index: 2;
  i {
    font-size: 6em;
  }

  .hamburger {
    font-size: 4em;
  }

  .nav-items {
    padding: 0 2%;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #logout {
    display: none;
  }

  .logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #login {
    display: none;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logout-btn {
    margin-right: 1em;
    margin-left: 1em;
  }

  .username-logged-in {
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
  }
  .username-logged-in:hover {
    color: red;
    cursor: pointer;
  }
}

input.search-input {
  height: 50px;
  font-size: 20px;
  background-image: url(/img/search.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  background-size: 48px 48px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: none;
  -webkit-appearance: none;
}
