header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-background;
}

nav {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;

  i {
    font-size: 6em;
  }

  .hamburger {
    font-size: 4em;
  }

  .nav-items {
    padding: 0 2%;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #logout {
    display: none;
  }

  .logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #login {
    display: none;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logout-btn {
    margin-right: 1em;
    margin-left: 1em;
  }

  .usernameLoggedIn {
    margin-top: auto;
    margin-bottom: auto;
  }
}
