#new-listing {
  width: 100%;
  background-color: $project-white;
  padding: 1%;
  border: solid 3px $project-white;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
}
.new-listing-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#listing-title {
  grid-row: 1;
  grid-column: 1 / 2;
}

#listing-number {
  grid-row: 2;
  grid-column: 1 / 2;
}

#listing-description {
  grid-row: 3;
  grid-column: 1 / 2;
}

#listing-picture-url {
  grid-row: 4;
  grid-column: 1 / 2;
}

#listing-category {
  grid-row: 5;
  grid-column: 1 / 2;
}

#listing-submit {
  grid-row: 6;
  grid-column: 1 / 2;
}

#listing-title,
#listing-number,
#listing-description,
#listing-picture-url,
#listing-category,
#listing-submit {
  margin: 0.5em;
}

#hide-new-listing {
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
#hide-new-listing {
  width: 100%;
}
