#delete-button {
  display: none;
}

.big-listing {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: $project-white;
  padding: 1%;
  border: solid 3px $project-white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
}

.big-image-container {
  grid-row: 1;
  grid-column: 1;
}

.big-info-container {
  grid-row: 1;
  grid-column: 2;
  padding-top: 0.5em;
  padding-left: 2em;
}
.big-user-name {
  width: 5%;
  white-space: nowrap;
  user-select: none;
  font-size: 20px;
  margin-bottom: 3em;
}

.big-title {
  margin-top: 1.5em;
}

.big-user-name:hover {
  color: red;
  cursor: pointer;
}

#sold-button {
  display: none;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-grey;
  border: solid 5px $font-color;
  border-radius: 10px;
  margin: 2%;
  padding: 3%;
  img {
    margin: 0;
    background-color: $light-cream;
    border: solid 5px $font-color;
    border-radius: 10px;
  }
  .sold-indicator {
    margin: 2%;
    font-size: 4em;
    color: red;
  }
}

.seller-id {
  display: none;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: $project-white;
  padding: 1%;
  border: solid 3px $project-white;
  width: 100%;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-content: center;
}
