.users-main {
  width: 90%;
  display: grid;
  margin: 0.3em;
  background-color: $project-white;
  color: $font-color;
  justify-self: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
}

.user-screen {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.user-image-container {
  display: block;
  width: 100%;
}

.user-info-container {
  display: block;
  width: 100%;
}

.user-image {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-update {
  padding: 20px;
}

label {
  margin-top: 8px;
}

.update-user-content {
  display: grid;
}

.user-listing-parent {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.user-listing-container-one {
  display: block;
  width: 100%;
  margin: 0;
}

.user-listing-container-two {
  display: block;
  width: 100%;
  padding-right: 20px;
}

.user-listing-image {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-h4 {
  font-size: 1em;
}

.price-btn-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.user-listing-price {
  grid-row: 1;
  grid-column: 1;
}

.user-listing-btn {
  grid-row: 1;
  grid-column: 2;
}
// <div class="user-screen users-main">
// <div class="user-image-container">
//   <img class="user-image" src="${user.user_image}"></p>
// </div>
// <div class="user-info-container">
//   <div class="user-name user-item"><h4 class="user-header">User name: </h4>${user.name}</div>
//   <div class="user-email user-item"><h4 class="user-header">Email: </h4>${user.email}</div>
//   <div class="user-admin user-item"><h4 class="user-header">Admin Privileges: </h4>${isAdmin}</div>
//   <div class="user-bio"><h4 class="user-header">User Bio:</h4>\n${user.user_bio}</div>
// </div>
//   </div>
// `);
