// See: https://sass-lang.com/
@import "variables";
body {
  font-family: "Oxygen", sans-serif;
  background-image: url("/img/webb.png");
  background-repeat: repeat;
  overflow-y: scroll;
}

h3 {
  font-weight: bolder;
  font-size: 32px;
}
@import "nav";
@import "pop-out-menu";
@import "singleListing";
@import "new-listing";
@import "messages";
@import "footer";
@import "conversations";
@import "user";
@import "item-cards";
